[Unit]
Description=Configuration file backup service
ConditionPathExists=/usr/bin/backer
After=network.target
 
[Service]
Type=notify
User=backer
Group=backer
LimitNOFILE=1024
Restart=on-failure
WatchdogSec=30s
StartLimitIntervalSec=60

ExecStart=/usr/bin/backer --config=/etc/backer/config.json --daemon
 
[Install]
WantedBy=multi-user.target`